*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inicio{
    width: 100%;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 100px;
}

.esquina{
    color: white;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
}

.textos{
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.contenido{
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.texto{
    width: 40%;
    color: white;
}

.texto h1{
    font-size: 55px;
    font-weight: bold;
    line-height: 1.2;
}

.texto p{
    margin: 25px 0;
    font-size: 16px;
    color: #e5e5e5;
    line-height: 1.5;
}

.boton{
    background: #00e29b;
    color: black;
    padding: 14px 28px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    display: inline-block;
}


.protections-title{
    text-align: center;
    padding: 50px 0 20px 0;
}

.protections{
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 40px 0;
}